<?php
/**
 * Polycast Zend Framework Extensions
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.
 *
 * It is also available through the world-wide-web at this URL:
 * http://polycast.de/license/new-bsd.txt
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to andreas@polycast.de so I can send you a copy immediately.
 *
 * @package    Polycast_Service_Rackspace_CloudFiles
 * @copyright  Copyright (c) 2010 Andreas Baumgart <andreas@polycast.de>
 * @license    http://polycast.de/license/new-bsd.txt  New BSD License
 */

/**
 * Rackspace CloudFiles settings
 */
define('TEST_POLYCAST_SERVICE_RACKSPACE_CLOUDFILES_ONLINE_ENABLED',   true);
define('TEST_POLYCAST_SERVICE_RACKSPACE_CLOUDFILES_ACCOUNT',          'devuser');
define('TEST_POLYCAST_SERVICE_RACKSPACE_CLOUDFILES_APIKEY',           null);
